:root {
  --font-col: black;
  --r-bg-col: white;
  --l-bg-col: #ced4da;
  --bg-col: #ced4da;
  --bg-high-col: #a899ff;
  --num-bg-col: #2a9d8f;
  --card-bg: white;
  --hr-col: #9c9ea0;
  --font-col-2: #7063b8;
  --hover-col: whitesmoke;
}
